
.menu-list{
	border-color: black;
	display: inline;
}

.menu-list > a{
	text-decoration: none;
	height: 10px;
}

.menu-list > a:hover{
	text-decoration: none;
}

#main-page {
	height: 100vh;
	width: 100vw;
}

#main-navbar {
	background-color: #F2F2F2;
	width: 100vw;
	height: 10vh;
	top: 0;
	position: fixed;
	text-align: center;
}