<!-- ControlerAs: AB -->


<div style="height: 90vh; ">
	
	<!-- Cover Image -->
	<div id="board-cover" style="background-image: linear-gradient(rgba(94, 96, 48, 0.79), rgba(11, 12, 13, 0.53)), url({{AB.active.photo}});">
		<div id="board-years">
			<a  ng-class="{'board-active': AB.active.year == boards.year}" href="" ng-repeat="boards in AB.board" ng-click="AB.changeBoard($index)">
			{{boards.year}}
			</a>
		</div>

		<!-- About Contents -->
		<div id="about-content" >
			<div ng-repeat="p in AB.about.TEXT">
				<h3>{{p.header}}</h3>
				<p ng-repeat="text in p.paragraphs">{{text}}</p>
			</div>

		</div><!-- About Contents -->

	</div><!-- Cover Image -->


	<!-- Officer -->
	<div>
		<div id="officers" >
			<div id="officers-core" class="row" >
				<!-- Core Office -->
				<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 col-xl-4" ng-repeat="(position,officer) in AB.active.officers.core">
					<div class="portrait">
						<div>
							<label style="font-size: 20px;">{{position}}</label>
							<div style="font-size: 12px; ">{{officer.email}}</div>
						</div>
						<div>
							<div class="portrait-img">
								<img  src="{{AB.getImg(officer.img)}}">
							</div>
						</div>
						<div>
							{{officer.name}}
						</div>
					</div>
				</div>
			</div><!-- Core Officer -->

			<!-- Minor Officer -->
			<div id="officers-others" class="row" >

				<div class="col-md-4 col-sm-6 col-xs-6 col-lg-4 col-xl-4" ng-repeat="(position, officer) in AB.active.officers.others">
					<div class="portrait">
						<div>
							<label style="font-size: 20px;">{{position}}</label>
							<div style="font-size: 12px;">{{officer.email}}</div>
						</div>
						<div>
							<div class="portrait-img">
								<img src="{{AB.getImg(officer.img)}}">
							</div>
						</div>
						<div>
							{{officer.name}}
						</div>
					</div >
				</div>
			</div><!-- Minor Officer -->
		</div>
	</div><!-- Officer -->

</div>