<!-- ControlerAs: HOME -->
<div class="animated fadeIn">
  <div>
    <img style="width: 100%; " src="{{HOME.config.background_img}}">
  </div>
  <div id="information">
    <h3>General Body Meeting</h3>
    <h4>Every week in ECS-304</h4>
    <iframe src="https://calendar.google.com/calendar/embed?src=csulb.acm.org_74d29bp7hmo68gfsnc47cl420o%40group.calendar.google.com&showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffff66&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    <div id="address_content">
      California State University, Long Beach<br>1250 Bellflower Boulevard, Long Beach, California 90840
    </div>
  </div>
</div>

